/* styles.css */

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.st-ef {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #1f4175;
}

h2 {
    color: #1f4175;
}

h3 {
    color: #1f4175;
}

.css-1l02zno {
    color: #1f4175;
}
img {
    max-width: 50%; 
    height: 100px;   
}
